:root{
    --primary:#7B68EE; 
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}

body{
    font-family: 'Open Sans', sans-serif;
}

section{
    position: relative;
    top: 10vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    flex-direction: column;
}